main{background: rgb(184,87,186);
    background: linear-gradient(90deg, rgba(184,87,186,1) 8%, rgba(35,156,168,1) 39%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}
img{
    width: 100%;
    max-width: 800px;
    height: auto;
}
.img2{
  height: 400px;
    width: 700px;
    margin: 0 auto;
    display: block;
}

aside a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    background-color: rgb(236, 221, 236);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}